<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>

    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="font/style.css">
    <link rel="stylesheet" href="theme/default.css">
    <link rel="stylesheet" href="components/reset/style.css">
    <link rel="stylesheet" href="components/page/style.css">
    <link rel="stylesheet" href="components/bottom-bar/style.css">

    <!-- <script src="script.js" defer></script> -->
    <script src="components/page/script.js" defer></script>
    <script src="components/bottom-bar/script.js" defer></script>
    <script src="components/reset/script.js" defer></script>
</head>

<body>