<div class="page contact" id="pg-contact">
    <div class="container">
        <h1>Contatos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi maiores ipsum ratione eius
            soluta,
            ex quod autem architecto laudantium corporis rerum mollitia dolores explicabo dolorem quasi voluptatum
            voluptatem consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi maiores ipsum ratione eius
            soluta,
            ex quod autem architecto laudantium corporis rerum mollitia dolores explicabo dolorem quasi voluptatum
            voluptatem consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi maiores ipsum ratione eius
            soluta,
            ex quod autem architecto laudantium corporis rerum mollitia dolores explicabo dolorem quasi voluptatum
            voluptatem consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi maiores ipsum ratione eius
            soluta,
            ex quod autem architecto laudantium corporis rerum mollitia dolores explicabo dolorem quasi voluptatum
            voluptatem consectetur.</p>
    </div>
</div>